
h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #BF2424;
    
}

body {
    background-color: rgb(244, 239, 232);
    color: rgb(55, 19, 19);
    font-family: 'Helvetica Neue', arial, sans-serif;
    line-height: 1.6;
    margin: auto;
    padding: 0px;
    text-align: center;
    min-width: auto;
    
}

header {
    background: rgb(244, 239, 232);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding: 0px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1000;

}


.page-one {
    background-image: url("images/pasta.jpeg");
}
.page-two {
    background-image: url("images/free-photo-of-a-bunch-of-vegetables-and-sourdough-bread.jpeg");
    
}
.page-three {
    background-image: url("images/pexels-photo-2347311.webp");
}
.page-four {
    background-image: url("images/pexels-photo-1640767.jpeg");
}
.page-five {
    background-image: url("images/pexels-photo-5971864.jpeg");
    
}


.logo {
    background-image: url("images/logo.png");
    background-size: 165px;
    background-repeat: no-repeat;
    display: flex;
    text-indent: -9999999%;
    width: 140px;
    height: 115px;
    position: relative;
    top: -20px;
    margin-left: 20px;
}
.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}
.navbar li {
    
    display: inline-block;
    margin-right: 40px;
    width: 100px;
    background-color: rgb(228, 227, 227);
    padding: 5px;
    margin-left: 0px;
    text-align: center;
    border: 2px solid rgb(104, 102, 102);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(103, 101, 101); 
}
.navbar li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
    position: relative;
}


.navbar li a:hover {
    color: #d90808; 
    
}

@media (max-width: 1000px) {
    .navbar {
        flex-wrap: wrap;
        font-size: small;
    }
    .navbar li {
        margin: 10px;
        width: fit-content;
        padding: 5px;
    } 
    .logo a{
        width: 120px;
        height: 115px;
        top: 10;
        margin-left: 10px;
    }
} 
@media (max-width: 740px) { 
    .navbar li {
        margin: 3px;
        width: fit-content;
        padding: 2px;
    }
}

@media (max-width: 450px) {
    .navbar {
        justify-content: center;
        padding: 5px 0;
    }
    .navbar li {
        font-size: 12px;
        margin: 2px;
        padding: 3px 6px;
        width: auto;
    }
    .navbar li a {
        padding: 2px 4px;
    }
}

 

section {
    background: ;
    color: #191818;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif

}

section.intro {
    font-weight: bold;
    font-size: 1.5em;
    color: #333333;
}

section.intro h1 {
    font-family: Georgia;
    font-size: 2em;
    font-style: normal;
    font-weight: bolder;
    color: #BF2424;
}

section.ingredients {
    color: #FFF;
    background-image: url("images/r-ingredients.webp");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    height: 250px;
    font-size: 1.5em;
}

.ingredients-button {
    color: white;
    background-color: #BF2424;
    font-size: 1em;
    border-radius: 15px;
    width: 250px;
    height: 60px;
    border: 2px solid white;
    cursor: pointer;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #BF2424 50%, #FFFFFF 50%);
    transition: background-position 0.5s, color 0.5s;
}


.ingredients-button:hover {
    background-position: -100% 0;
    color: #BF2424;
}



.meals_intro {
    text-align: center; 
    padding: 40px 20px; 
    background-color: #f8f8f8; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px; 
}

.meals_intro h1, .meals_intro h2 {
    margin: 10px 0; 
    color: #333; 
    font-family: Georgia, 'Times New Roman', Times, serif
}

.meals_intro h1 {
    font-size: 3.5em; 
    color: #BF2424; 
    font-weight: bold; 
    font-family: Georgia, 'Times New Roman', Times, serif
}

.meals_intro h2 {
    font-size: 1.5em; 
}


@media (max-width: 768px) {
    .meals_intro {
        padding: 20px 10px; 
    }
    .meals_intro h1 {
        font-size: 2em; 
    }
    .meals_intro h2 {
        font-size: 1.2em; 
    }
}

.meals {
    background-color: ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0;
}

.meals figure {
    margin: 10px;
    text-align: center;
}

.meals figure img {
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.meals figure a{ 
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    overflow: hidden;
    position: relative;
   
}
.meals figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    background-color: #f38703;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.meals figure:hover img {
    transform: scale(1.1);
}

.meals figure:hover figcaption {
    transform: translateY(0);
}

@media (max-width: 1000px) {
    .meals {
        flex-direction: column;
        align-items: center;
    }
    .meals figure {
        margin: 10px 0 90px 0;
        width: 80%;
    }
    .meals figure img {
        width: 100%;
        height: auto;
    }
    .meals figcaption {
        border-radius: 0 0 15px 15px;
    }
}

.about {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Contact Page CSS*/
.contactPage {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.contact {
    width: 40%;
    margin: 50px auto;
    padding: 30px;
    border: none; 
    border-radius: 10px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
    font-family: 'Arial', sans-serif; 
    color: #333333; 
}


.contact input[type="text"],
.contact textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}


.contact input[type="submit"] {
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    width: 100%; 
}

.contact input[type="submit"]:hover {
    background-color: #45a049; 
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
@media (max-width: 800px) {
    .contact {
        width: 80%;
    }
}


/*Ingredients Page CSS*/

.ingredientsPage {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ingredients_intro h1, .ingredients_intro h2, .ingredients_intro h3 {
    text-align: center;
    margin: 10px 0;
}

.ingredients_intro h1 {
    color: #333;
    font-size: 2.5em;
}

.ingredients_intro h2 {
    color: #555;
    font-size: 1.8em;
}

.ingredients_intro h3 {
    color: #e3e0e0;
    font-size: 1.2em;
    
}

.ingredients_list  {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.ingredients_list input {
    text-align: center;
    width: 160px;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.ingredients_list input:focus {
    border-color: #BF2424;
    outline: none;
}
#ingredientsContainer button.add {
    background-color: #fb8c00;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    
}

#ingredientsContainer button.remove {
    background-color: #BF2424;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
}
#ingredientsContainer button.add:hover, #ingredientsContainer button.remove:hover {
    background-color: #aba8a8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-button {
    background-color: #fb8c00;
    color: white;
    border-radius: 4px;
    font-size: large;
    width: 150px;
    font-size: large;
    height: 40px;
    /* border: 4px solid #c94129; */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 5px 10px;
    border: none;;
}
.search-button:hover {
    background-color: #ffa726;
    color: #c94129;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/*Ingredients Display Page*/

.recipe-details {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(249, 249, 247, 0.9);
    border: 1px solid #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
#ingredientList, #instructions {
    text-align: left;
    margin-bottom: 20px;
}
#ingredientList ul, #instructions ol {
    font-size: 16px;
    color: #555;
    margin: 0;
    padding: 20px;
    list-style-type: square;
    padding-left: 40px;
    line-height: 1.6;
}
#ingredientList ul li:before, #instructions ol li:before {
    content: '•'; 
    color: #ffa726; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
#recipeTitle {
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    letter-spacing: 1px; 
}
.recipePic {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid gray;
    box-shadow: 0 0 10px black;
}
.recipePic:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ffa726;
    color: white;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(o, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;

}

.like-button:hover {
    background-color: #fb8c00;
    color: #c94129;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.like-button .heart-icon {
    margin-right: 5px;
}

#shuffleButton {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    height: 40px;
    width: 120px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(o, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#shuffleButton:hover {
    background-color: #3bd148;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 720px) {
    #shuffleButton {
        height: 32px;
        font-weight: normal;
    }
}
@media (max-width: 700px) {
    #recipeTitle {
        font-size: 18px;
    }
}

/* Favorites page */

.favoritesPage {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}
h1.favorite {
    font-weight: bolder;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#favoritesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    list-style: none; 
    padding: 0;
    margin: 0; 
    font-size: 14px;
    align-items: start;
    justify-items: stretch;
}
#favoritesList li {
    background: #f5f5f5; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height: 200px;
    padding: 15px;
    margin: 10px;
    font-size: 14px;
}

.favpic {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.favpic:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

@media screen and (max-width: 720px) {
    h1.favorite {
        font-size: 50px;
    }

    #favoritesList {
        font-size: 12px; 
    }

    .favpic {
        border-radius: 4px;
        border: 1px solid #ccc; 
    }

    .favpic:hover {
        transform: scale(1.02); 
    }
}    

#recipeList a{
    text-decoration: none;
    color: #BF2424;
}
#recipeList a:hover{
    text-decoration: underline;
    color: #fb8c00;
}
#recipeList img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid gray;
    box-shadow: 0 0 10px black;

}

.trivia-container {
    position: relative; 
    left: 50%; 
    width: 800px; 
    transform: translateX(-50%);
    background-color: rgba(227, 223, 218, 0.955); 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    padding: 5px; 
    font-size: 1.1em;
    font-family: 'Comic Sans MS', arial;
}

#triviaDisplay {
    margin-top: 15px;
    font-style: italic;
    font-family: 'Comic Sans MS', cursive; 
}

button {
    background-color: #f32d2d; 
    color: white;
    border: none;
    padding: 7px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #fb8c00;
}

@media (max-width: 750px) {
    .trivia-container {
        font-family: sans-serif;
        width: 90%;
        top: 5px; 
        left: 50%; 
        transform: translateX(-50%); 
        font-size: 14px; 
        padding: 10px; 
    }

    button {
        padding: 6px 12px; 
        font-size: 14px; 
    }

    
}
