

h1 {
    color: rgb(179, 64, 64);
    
}

body {
    background: rgb(35, 34, 34);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

header {
    background: black;
    background-image: url("images/pasta.jpeg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding: 20px;
    text-align: center;
    
}
button {
    background-color: rgb(218, 181, 34);
    border-radius: 20px;
}

header nav{
    background-color: ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    
    
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    
    

}
header .title a {
    color: rgb(154, 54, 54);
    text-align: center;
    text-transform: none;

}


header .logo a {
    background-image: url("images/logo.png");

    background-size: 170px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -999999px;
    width: 300px;
    height: 120px;
    position: relative;
    top: -40px;
    margin-left: 20px;
       
}
.logo {
    float: left;
    background: transparent;
   
}
section {
    background: white;
    color: rgb(25, 24, 24);
    padding: 20px;
    text-align: center;

}

section.intro {
    text-align: center;
    background-color: white;
}

section.ingredients {
    background-color: #BF2424;
    text-align: center;
}

section.meals {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section.meals figure {
    margin: auto;
    text-align: center;
    
}

section.meals figure img {
    border-radius: 10%;
    
}

div.container {
   
   
    
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    

}

li {
    display: inline-block;
    margin-right: 20px;
}
    

    
    
    
}

footer {
    background: black;
    padding: 10px 20px;
}