
h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #BF2424;
    
}

body {
    background-color: rgb(244, 239, 232);
    color: rgb(55, 19, 19);
    font-family: 'Helvetica Neue', arial, sans-serif;
    line-height: 1.6;
    margin: auto;
    padding: 0px;
    text-align: center;
    min-width: auto;
    
}

header {
    background: rgb(244, 239, 232);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding: 0px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1000;

}


.page-one {
    background-image: url("images/pexels-photo-5848508.jpeg");
    
}
.page-two {
    background-image: url("images/free-photo-of-a-bunch-of-vegetables-and-sourdough-bread.jpeg");
    
}
.page-three {
    background-image: url("images/pexels-photo-2347311.webp");
}
.page-four {
    background-image: url("images/pexels-photo-1640770.jpeg");
}
.page-five {
    background-image: url("images/pexels-photo-5971864.jpeg");
    
}


.logo {
    background-image: url("images/logo.png");
    background-size: 165px;
    background-repeat: no-repeat;
    display: flex;
    text-indent: -9999999%;
    width: 140px;
    height: 115px;
    position: relative;
    top: -20px;
    margin-left: 60px;
}
.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}
.navbar li {
    margin-right: 40px;
    display: inline-block;
    margin-right: 20px;
    width: 100px;
    background-color: rgb(228, 227, 227);
    padding: 5px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid rgb(104, 102, 102);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(103, 101, 101); 
}
.navbar li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.navbar li a:hover {
    color: #d90808; 
}

 


@media (max-width: 1000px) {
    .navbar {
        flex-wrap: wrap;
        font-size: small;
    }
    .navbar li {
        margin: 10px;
        width: fit-content;
        padding: 10px;
    } 
    .logo a{
        width: 120px;
        height: 115px;
        top: 10;
        margin-left: 10px;
    }
} 
@media (max-width: 740px) { 
    

        .navbar li {
        margin: 3px;
        width: fit-content;
        padding: 2px;
    }
    

}

 

section {
    background: whitesmoke;
    color: #191818;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

section.intro {
    font-weight: bold;
    font-size: 1.5em;
    color: #333333;
}

section.intro h1 {
    font-family: Georgia;
    font-size: 2em;
    font-style: normal;
    font-weight: bolder;
    color: #BF2424;
}

section.ingredients {
    color: #FFF;
    background-image: url("images/r-ingredients.webp");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    height: 250px;
    font-size: 1.5em;
}

button.ingredients-button {
    color: white;
    background-color: #BF2424;
    font-size: 1.1em;
    border-radius: 15px;
    width: 250px;
    height: 60px;
    border: 2px solid white;
    cursor: pointer;
    
}

section.meals_intro {
    font-size: 1em;
    color: #585858;
}

section.meals {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0;
}

section.meals figure {
    margin: 10px;
    text-align: center;
}

section.meals figure img {
    border-radius: 15%;
}

section.meals figure a{
    font-size: 1.5em;
    color: black;
    text-decoration: none;

}

@media (max-width: 1000px) {
    section.meals {
        flex-direction: column;
    }
}


/*Contact Page CSS*/
.contact {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
}
label, 
input, 
textarea {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;

}
input[type="submit"] {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #BF2424;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #555;
}


/*Ingredients Page CSS*/
div.ingredients_list  {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

div.ingredients_list input {
    text-align: center;
    width: 60%;
}
#ingredientsContainer button.add {
    background-color: #fb8c00;
    color: white;
}

#ingredientsContainer button.remove {
    background-color: #BF2424;
    color: white;
}

.search-button {
    background-color: #fb8c00;
    color: white;
    border-radius: 15px;
    font-size: large;
    width: 150px;
    font-size: large;
    height: 40px;
    border: 4px solid #c94129;
}
.search-button:hover {
    background-color: #ffa726;
    color: #c94129;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*Ingredients Display Page*/
.recipe-details body{ 
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff5e6;
}
.recipe-details {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.recipe-details h1 {
    text-align: center;
    color: #a53939;
}
#ingredientList, #instructions {
    text-align: left;
    margin-bottom: 20px;
}
#ingredientList ul, #instructions ol {
    font-size: 16px;
    color: #555;
    margin: 0;
    padding: 20px;
    list-style-type: square;
}
#recipeTitle {
    font-size: 30px;
}
.recipePic {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid gray;
    box-shadow: 0 0 10px black;
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ffa726;
    color: white;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.like-button:hover {
    background-color: #fb8c00;
    color: #c94129;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.like-button .heart-icon {
    margin-right: 5px;
}



/* Favorites page */
h1.favorite {
    font-weight: bolder;
    font-size: 50px;
}
#favoritesList {
    list-style: none; 
    padding: 0;
    margin: 0; 
    font-size: 20px;
}
.favpic {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid gray;
    box-shadow: 0 0 10px black;
}
    

#recipeList a{
    text-decoration: none;
    color: #BF2424;
}
#recipeList a:hover{
    text-decoration: underline;
    color: #fb8c00;
}
#recipeList img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid gray;
    box-shadow: 0 0 10px black;

}
