

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #BF2424;
    
}

body {
    background: #fcf8f8;
    color: rgb(55, 19, 19);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0px;
    text-align: center;
    min-width: auto;
    
}

header {
    background: white;
    background-image: url("images/pasta.jpeg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    padding: 20px;
    text-align: center;
}

/* nav {
    background-color: whitesmoke;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    
    

}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;

}

li {
    margin: 0 10px;
    width: 100px;
    background-color: whitesmoke;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid rgb(104, 102, 102);
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
}


a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: #BF2424;
} */


.page-one {
    background-image: url("images/pasta.jpeg");
}

.page-two {
    background-image: url("images/pickles-feat.webp");
    
    
}
.page-three {
    background-image: url("images/spread.jpeg");
}
.page-four {
    background-image: url("images/smash-burger-tacos-feat.webp");
}

button {
    background-color: rgb(174, 190, 202);
    font-size: large;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    box-shadow: 5px 5px 5px;

}

header nav{
    min-width: 1300px;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    
    
    
    
}

header a {

    color: black;
    text-decoration: none;
    text-transform: uppercase; 
    

}

button a {
    text-decoration: none;
    color: black;
    
}


header .logo a {
    background-image: url("images/logo.png");
    background-size: 165px;
    background-repeat: no-repeat;
    display: flex;
    text-indent: -9999999%;
    width: 140px;
    height: 115px;
    position: relative;
    top: -25px;
    margin-left: 60px;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    

}
section {
    background: white;
    color: rgb(25, 24, 24);
    padding: 20px;
    text-align: center;

}

section.intro {
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: large;
    
}
section.intro h1 {
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
    

}

section.ingredients {
    color: white;
    background-image: url("images/r-ingredients.webp");
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
    height: 200px;
    font-size: x-large;
}

section.meals_intro {
    font-style: italic;
    font-size: medium;
    

}

section.meals {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section.meals figure {
    margin: auto;
    text-align: center;
    
}

section.meals figure img {
    border-radius: 10%;
    
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}

ul li {
    
    display: inline-block;
    margin-right: 20px;
    padding: 35px;
    width: 110px;
    background-color: whitesmoke;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid rgb(104, 102, 102);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(103, 101, 101); 

 }

li a:hover {
   color: #BF2424; 
}



.contact {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
}
label, 
input, 
textarea {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;

}
input[type="submit"] {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #BF2424;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #555;
 }

div.ingredients_list  {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

div.ingredients_list input {
    text-align: center;
    width: 75%;
}
div.ingredients_list span {
    font-size: ;
}

.btn {
    background-color: #ed8b60;
    color: black;
}
















@media (max-width: 1050px){
    ul {
        font-size: small;
        flex-direction: column;
        justify-content: center;
        float: left;
        padding: 10px;
        
    }
    ul li {
        margin: 0%;
        padding: 0;
    }
    

}


@media (max-width: 800px) {
    section.meals {
        flex-direction: column;
    }
}

.recipe-item {
    border: 1px solid #8a8383bc;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

}
.recipe-item h3 {
    margin-bottom: 8px;
    font-size: 20px;
    color: #333;
}
.recipe-item h3 a {
    text-decoration: none;
    color: #0066cc;
}
.recipe-item h3 a:hover {
    text-decoration: underline;
    color: #e94638;
}

.recipe-item img {
    display: block;
    margin-bottom: 8px;
    border-radius: 3px;
}