

h1 {
    color: #BF2424;
    
}

body {
    background: #fcf8f8;
    color: rgb(55, 19, 19);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0px;
    text-align: center;
}

header {
    background: white;
    background-image: url("images/pasta.jpeg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    padding: 20px;
    text-align: center;
}



.page-one {
    background-image: url("images/pasta.jpeg");
}

.page-two {
    background-image: url("images/pickles-feat.webp");
}
.page-three {
    background-image: url("images/spread.jpeg");
}
.page-four {
    background-image: url("images/platter.jpeg");
}

button {
    background-color: rgb(174, 190, 202);
    font-size: large;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    box-shadow: 5px 5px 5px;

}

header nav{
    width: 1400px;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    
}

header a {

    color: black;
    text-decoration: none;
    text-transform: uppercase; 
    

}

button a {
    text-decoration: none;
    color: black;
    
}


header .logo a {
    background-image: url("images/logo.png");
    background-size: 170px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999999%;
    width: 300px;
    height: 120px;
    position: relative;
    top: -35px;
    margin-left: 40px;

       
}
.logo {
    display: inline-block;
    float: left;
    

}
section {
    background: white;
    color: rgb(25, 24, 24);
    padding: 20px;
    text-align: center;

}

section.intro {
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: large;
    
}
section.intro h1 {
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
    

}

section.ingredients {
    color: white;
    background-image: url("images/r-ingredients.webp");
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
    height: 200px;
    font-size: x-large;
}

section.meals_intro {
    font-style: italic;
    font-size: medium;
    

}

section.meals {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section.meals figure {
    margin: auto;
    text-align: center;
    
}

section.meals figure img {
    border-radius: 10%;
    
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 30px;

}

li {
    display: inline-block;
    margin-right: 20px;
    padding: 35px;
    width: 110px;
    background-color: whitesmoke;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid rgb(104, 102, 102);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(103, 101, 101);
}

li a:hover {
   color: #BF2424; 
   
}