

h1 {
    color: rgb(179, 64, 64);
    
}

body {
    background: #fcf8f8;
    color: rgb(55, 19, 19);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0px;
    text-align: center;
}

header {
    background: white;
    background-image: url("images/smash-burger-tacos-feat.webp");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    padding: 20px;
    text-align: center;
    
}
.page-one {
    background-image: url("images/pasta.jpeg");
}

.page-two {
    background-image: url("images/pickles-feat.webp");
}
.page-three {
    background-image: url("images/spread.jpeg");
}
.page-four {
    background-image: url("images/platter.jpeg");
}
button {
    background-color: rgb(238, 184, 184);
    border-radius: 20px;
    width: 100px;
    height: 50px;
    text-decoration: none;

}

header nav{
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    
    
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;  

}

button a {
    text-decoration: none;
    color: black;
    
}


header .logo a {
    background-image: url("images/logo.png");

    background-size: 170px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -999999px;
    width: 300px;
    height: 120px;
    position: relative;
    top: -40px;
    margin-left: 20px;
       
}
.logo {
    float: inline-start;
   
}
section {
    background: white;
    color: rgb(25, 24, 24);
    padding: 20px;
    text-align: center;

}

section.intro {
    text-align: center;
    background-color: white;
}

section.ingredients {
    color: white;
    background-image: url("images/r-ingredients.webp");
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
    height: 200px;
}

section.meals {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section.meals figure {
    margin: auto;
    text-align: center;
    
}

section.meals figure img {
    border-radius: 10%;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

footer {
    background: black;
    padding: 10px 20px;
}